
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
					<span class="align-middle">Tempest Prime</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						C&C
					</li>

					<li class="sidebar-item {% if 'index' in segment %} active {% endif %}">
						<a class="sidebar-link" href="/">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
						</a>
					</li>

					<li class="sidebar-item {% if 'profile' in segment %} active {% endif %}">
						<a class="sidebar-link" href="pages-server.html">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Servers</span>
						</a>
					</li>
					<li class="sidebar-item {% if 'profile' in segment %} active {% endif %}">
						<a class="sidebar-link" href="pages-launcher.html">
							<i class="align-middle" data-feather="user"></i> <span class="align-middle">Launcher</span>
						</a>
					</li>

					<li class="sidebar-item {% if 'monitoring' in segment %} active {% endif %}">
						<a class="sidebar-link" href="monitoring.html">
							<i class="align-middle" data-feather="monitoring"></i> <span class="align-middle">Monitoring</span>
						</a>
					</li>

					<li class="sidebar-item {% if 'invoice' in segment %} active {% endif %}">
						<a class="sidebar-link" href="pages-invoice.html">
							<i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Logs</span>
						</a>
					</li>

					<li class="sidebar-header">
						Admin
					</li>                    
					<li class="sidebar-item {% if 'settings' in segment %} active {% endif %}">
						<a class="sidebar-link" href="/admin">
							<i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
						</a>
					</li>
					<li class="sidebar-item {% if 'blank' in segment %} active {% endif %}">
						<a class="sidebar-link" href="pages-profile.html">
							<i class="align-middle" data-feather="book"></i> <span class="align-middle">Users</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{% url 'logout' %}">
              				<i class="align-middle" data-feather="log-out"></i> 
                                <span class="align-middle">Logout</span>
            			</a>
					</li>
				</ul>
			</div>
		</nav>

